.flag-box {
	height: 32px;
	//padding: 6px 14px;
	border: 1px solid grey !important;
	background-image: url('down.png') !important;
    background-position: right center;
    background-repeat: no-repeat !important;
    padding-left: 5px;
    padding-top: 3px;
    min-width: 60px;
}

.lang-dropdown {
    position: relative;
    display: inline-block;
}

.lang-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: 200px;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-x: auto;
    padding-bottom:16px;
    font-size: 11px;
    z-index: 1;
}
.lang-dropdown-content ul {
	padding-left: 5px !important;
}

.lang-dropdown-content li {
	margin: 0px;
	list-style: none;
	border-bottom: 1px solid #e2e2e2;
}

.lang-dropdown:hover .lang-dropdown-content {
    display: block;
}

.flag {
	vertical-align: middle;
}